
@model InventoryManagement_2.ViewModels.ProductSearchVm
@{
    ViewData["Title"] = "list of products";
}


<div class="container">
    <form method="get">
        <input type="Text" id="searchid" name="search" />

    <button type="submit">Search</button>
    </form>
    <div class="mr-1"><a asp-controller="Product" asp-action="add" class="btn btn-success">New Item</a></div>
    
    <div class="row">
       
            <table class="table table-striped ">
                <thead class="">
                 <tr>
                <th>ProductId</th>
                <th>ProductName</th>
                <th>CategoryID</th>
                <th>Unit</th>
                <th>ProductPrice</th>
                <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.data)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.CategoryId</td>
                            <td>@item.Unit</td>
                            <td>@item.Price</td>
                            <td>
                                <a  asp-controller="Product" asp-route-id="@item.Id" asp-action="Edit" class="btn btn-success">Edit</a>
                                 <a  asp-controller="Product" asp-route-id="@item.Id" asp-action="Delete" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        
    </div>

</div>
